{% extends 'layout.html' %} {% block title %}Página Inicial{% endblock %} {%
block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      
    <div class="mb-3 text-right">
      <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#modalNewCard">
        Cadastrar novo card
        <i class="fa-regular fa-square-plus"></i>
      </button>
    </div>
      
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">Meus cards</h1>
        </div>
        <div class="card-body">
            <div class="row">
              {% for container in containers %}
                <div class="col-12 col-md-4">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center mb-2">
                      <h5 class="card-title">{{ container.name }}</h5>
                        <button class="btn btn-sm btn-outline-info btn-edit-card"
                          data-cardId="{{ container.id }}"
                          data-toggle="modal" data-target="#modalEditCard">
                          <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                      </div>
                      <p class="card-text">{{ container.description }}</p>
                      <a href="/study-cards/{{ container.id }}" class="btn btn-sm btn-warning">
                        Acessar cards
                        <i class="fa-solid fa-arrow-right"></i>
                      </a>
                      <form action="/admin/containers/{{ container.id }}/delete" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-sm mt-2 btn-danger">
                          Deletar card
                          <i class="fa-solid fa-trash"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Novo Card -->
<div class="modal fade" id="modalNewCard" tabindex="-1" role="dialog" aria-labelledby="modalNewCardLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNewCardLabel">Cadastrar novo card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/containers" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="cardName">Nome do card</label>
            <input type="text" class="form-control" id="cardName" name="cardName" placeholder="Digite o nome do card">
          </div>
          <div class="form-group">
            <label for="cardDescription">Descrição do card</label>
            <textarea class="form-control" id="cardDescription" name="cardDescription" rows="3" placeholder="Digite a descrição do card"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-info btn-sm">
            Cadastrar
            <i class="fa-regular fa-square-plus"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Editar Cards -->
<div class="modal fade" id="modalEditCard" tabindex="-1" role="dialog" aria-labelledby="modalEditCardLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditCardLabel">Editar card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/containers" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="editCardName">Nome do card</label>
            <input type="text" class="form-control" id="editCardName" name="editCardName" placeholder="Digite o nome do card">
          </div>
          <div class="form-group">    
            <label for="editCardDescription">Descrição do card</label>
            <textarea class="form-control" id="editCardDescription" name="editCardDescription" rows="3" placeholder="Digite a descrição do card"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-info btn-sm">
            Salvar alterações
            <i class="fa-solid fa-floppy-disk"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.btn-edit-card').on('click', function() {
      const cardId = $(this).data('cardid');
      const cardName = $(this).closest('.card-body').find('.card-title').text();
      const cardDescription = $(this).closest('.card-body').find('.card-text').text();

      $('#editCardName').val(cardName);
      $('#editCardDescription').val(cardDescription);

      $('#modalEditCard form').attr('action', `/admin/containers/${cardId}/edit`);
    });
  });
</script>
{% endblock %}
