{% extends 'layout.html' %} {% block title %}Página Inicial{% endblock %} {%
block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-img-left d-none d-md-flex"></div>

        <div class="card-body">
          <h5 class="card-title text-center">Cadastrar</h5>
          <form class="form-signin" method="post" action="/register">
            <div class="form-label-group">
              <input
                type="text"
                id="username"
                name="username"
                class="form-control"
                placeholder="Nome de usuário"
                required
              />
              <label for="username">Nome de usuário</label>
            </div>

            <div class="form-label-group">
              <input
                type="email"
                id="inputEmail"
                name="inputEmail"
                class="form-control"
                placeholder="Endereço de email"
                required
                autofocus
              />
              <label for="inputEmail">Endereço de email</label>
            </div>

            <div class="form-label-group">
              <input
                type="password"
                id="inputPassword"
                name="inputPassword"
                class="form-control"
                placeholder="Senha"
                required
              />
              <label for="inputPassword">Senha</label>
            </div>

            <button
              class="btn btn-lg btn-primary btn-block text-uppercase"
              type="submit"
            >
              Entrar
            </button>
          </form>

          <a href="/" class="d-block mt-2 small"> Já tem uma conta? Entre </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
